{% extends 'layout/base-layout.html.twig' %}
{% block title %} Modifier Terrain  {% endblock %}
{% block page_title %}Modifier Terrain{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {{ form_start(form, {'attr':{'class':'form-box'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                <div class="box-body">
                    <blockquote>
                        <p>Veuillez remplir les champs ci-dessous pour ajouter un nouveau terrain.<br/>
                            Certaines informartions sont réprises à titre indicatif dans la fiche produit et le flyer électronique
                    </blockquote>
                    <h4 class="form-box-header">Informations générales</h4>

                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.identifiant, "Identifiant *") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.identifiant) }}
                            {{ form_widget(form.identifiant, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>

                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.ville, "Ville *") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.ville) }}
                            {{ form_widget(form.ville, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.adresse, "Adresse *") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.adresse) }}
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.feuilleCadastrale, "Feuille Cadastrale ") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.feuilleCadastrale) }}
                            {{ form_widget(form.feuilleCadastrale, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.parcelleCadastrale, " Parcelle Casdastrale") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.parcelleCadastrale) }}
                            {{ form_widget(form.parcelleCadastrale, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.categorieCadastrale, "Categorie Cadastrale") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.categorieCadastrale) }}
                            {{ form_widget(form.categorieCadastrale, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.superficie, "Superficie") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.superficie) }}
                            {{ form_widget(form.superficie, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.lot, "Lot") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.lot) }}
                            {{ form_widget(form.lot, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                    <div class="form-box-content">
                        <div class="form-group control-group">
                            {{ form_label(form.noParcelle, "Nombre de parcelle") }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.noParcelle) }}
                            {{ form_widget(form.noParcelle, {'attr': {'class': 'form-control type', 'placeholder' : '' }}) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-success" value="Sauvegarder">
                    <input type="button" class="btn" value="Annuler" onclick="window.location.href='{{ path('cs_main_Proprietaires_list') }}';">

                </div>
            </div>
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        $(function () {
            //Date picker
            $('.datepicker').datepicker({
                autoclose: true
            });

        });
    </script>
{% endblock %}
