{% extends 'layout/base-layout.html.twig' %}
{% block title %} Liste des Locataires  {% endblock %}
{% block page_title %}Liste des Locataires{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title pull-right"><a href="{{ path('cs_main_Locataires_ajouter') }}" class="btn bg-green margin">Nouveau Locataire</a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k, val in list %}
                        <td>{{ val.code }}</td>
                        <td>{{ val.nom }}</td>
                        <td>{{ val.telephone }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('cs_main_Biens_edit', {'id': val.id}) }}" class="btn btn-danger">Modifier</a>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('cs_main_Locataires_voir', {'id': val.id}) }}">Voir les détails</a></li>
                                    <li><a href="#">Bilan Financier</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('cs_main_Proprietaires_supprimer', {'id': val.id}) }}" onclick=" return confirm('Attention ! en supprimant ce bien, toutes les informations liées à ce bien seront supprimées ');">Supprimer</a></li>
                                </ul>
                            </div>
                        </td>
                        {% endfor %}



                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th>Action</th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}