{% extends 'layout/base-layout.html.twig' %}
{% block title %} Liste des Locations  {% endblock %}
{% block page_title %}Liste des Locations{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title pull-right"><a href="{{ path('cs_main_Locations_ajouter') }}" class="btn bg-green margin"> Nouvelles Locations</a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Adresse</th>
                            <th>Locataires</th>
                            <th>LoyerHc</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,val in list %}
                        <th> {{ val.adresse }}</th>
                        <th>{{ val.locataires }}</th>
                        <th>{{ val.loyerHc }}</th>
                        <th>{{ val.action }}</th>
                        {% endfor %}



                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Adresse</th>
                            <th>Locataires</th>
                            <th>LoyerHc</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}